*,
p,
small,
pre,
code,
h1 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d272f;
}

.App {
  height: 100vh;
}

.myContainer {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
}

.col1 {
  display: block;
  margin-right: 550px;
}

.col2 {
  width: 500px;
  float: right;
}
